html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(
        
#114357,
#f29492);
    margin: 0;
    padding: 0;
  }
  
  .help {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
  }
  
  .gameover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  .gameover h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    color: white;
    text-transform: uppercase;
  }
  
  .gameover button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    display: block;
    margin: auto;
  }

  .button{
    position:relative;
    display:inline-block;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .playSend .bt{
    background-color: #2596be;
  }

  .playSend button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .playSend button:hover {
    background-color: #3e8e41;
  }


.left{
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 100000;
    font-size: 25px;
    color: #fff;
}

  .button a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }